p {color: crimson;font-family: Times New Roman; font-weight: bold;}
label {font-style: italic; font-family: Times New Roman;font-weight: bold;}
input {border-color: rgb(173, 7, 146); background-color: pink;color: rgb(28, 24, 233);}
